main {
    font-family: 'Inter', 'Arial', sans-serif;
    color: #000000;
    background-color: #FFFFFF;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}
.page{
    max-width: 1280px;
    margin: 0 auto;
}

